<h1 class="page-header">Your profile</h1>

<h3>Email: <%= @user.email %></h3>
<p>First Name: <%= @first_name %></p>
<p>Last Name: <%= @last_name %></p>

<%= link_to 'Edit your profile', edit_user_registration_path %>